<div class="container-fluid">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="students">Student Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="fame">Hall of Fame</a>
  </li>
</ul>
</div>
