<div class="card py-3 px-3" style="width: 22rem;margin: 1%;">
  <img class="card-img-top" src="{{student.img}}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{student.firstname}} {{student.lastname}}</p>
  </div>
</div>