
<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h1 class="display-4">Welcome to Home page</h1>
    <p class="lead">You can find more details about students on our students page.</p>
  </div>
</div>



